* {
	margin: 2;
}

body {
	font-family: Arial, sans-serif;
	font-size: 1em; 

	
}
header {
	background-color: #228B22;

}

h1 {
	font-family: Georgia, serif;
}

h2 {
	background: linear-gradient(to right, #6A5ACD, #32CD32);
	padding: 10px;
}


div{
	background-color: #3B9C9C;
	color:#FFFAF0;
	font-weight: bold;
	font-size: 20px;
	padding: 10px;
}

footer {
	background-color: #6B8E23;
	font-size: .9em;
	font-style: italic;

}

a:link {
	color: #FFBF00;
}

a:visited {
	color: #DAA520;
}

a:hover {
	color: Green;
}

/* table */
table, td, th {
	border: 2px solid #000000;
	border-spacing: 0;
	
}
table: 100%;

th {
	font-family: Georgia, serif;
	
}

th, td {
	padding: 10px 30px;
}

th {
	background-color: #FF474D;
}


.nav-link {
  color: #00416A !important; /* Coral Red or any color you prefer */
  font-weight: bold;
}

.nav-link:hover {
  color: #568203 !important; /* Avocado Green or another contrast color */
}

